<div
  class="modal fade"
  id="create-project-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create-task-label"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-task-label">ایجاد پروژه</h5>
        <button
          type="button"
          class="ml-0 close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="createProjectFrom">
          <div class="form-group">
            <label>عنوان پروژه:</label>
            <input [class.is-invalid]="createProjectFrom.get('projectName').invalid && createProjectFrom.get('projectName').touched" name="projectName" type="text" class="form-control" formControlName="projectName"/>
            <small [class.d-none]="createProjectFrom.get('projectName').valid || createProjectFrom.get('projectName').untouched" class="text-danger">عنوان پروژه الزامی است</small>
          </div>
          <div class="form-group">
            <button
            type="button"
            class="btn btn-outline-secondary"
            data-dismiss="modal"
          >
            بستن
          </button>
            <button
              type="submit"
              class="btn btn-outline-success"
            >
              ایجاد پروژه
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
