<div
class="modal fade"
id="create-project-modal"
tabindex="-1"
role="dialog"
aria-labelledby="create-task-label"
aria-hidden="true"
>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="create-task-label">ایجاد پروژه</h5>
            <button
              type="button"
              class="ml-0 close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input name="project-name" type="text" class="form-control">
            </div>
            <div class="form-group">
                <textarea
                name=""
                id=""
                class="mt-1 form-control"
                rows="3"
                placeholder="توضیحات"
              ></textarea>
            </div>
            <div class="form-control">
                <dp-date-picker
                dir="rtl"
                [(ngModel)]="projectStartDate"
                mode="day"
                placeholder="تاریخ شروع"
                theme="dp-material"
              ></dp-date-picker>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-success">ایجاد وظیفه</button>
            </div>
          </div>
    </div>
</div>
</div>
