<div class="d-flex justify-content-between">
  <div>
    <label for="">عنوان وظیفه: اتمام پروژه</label>
  </div>
  <div>
    وضعیت: در حال انجام
  </div>
  <div>
    <button class="btn btn-link" (click)="editTask()">ویرایش</button>
  </div>
</div>
<div>
  <textarea
    class="form-control"
    name="descrption"
    id="descrption"
    cols="30"
    rows="10"
    [disabled]="!edit"
  >
        پروژه باید تا پایان شهریور به اتمام برسد
      </textarea
  >
</div>
<div class="row mt-2" *ngIf="edit">
  <div class="col-md-6">
    <button class="btn btn-outline-success">ذخیره تغییرات</button>
    <button class="mr-2 btn btn-outline-danger">انصراف</button>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-1">ارجاع:</div>
      <div class="col-lg-11">
        <select name="" id="" class="mt-1 form-control">
          <option value="محمد">محمد</option>
          <option value="کیا">کیا</option>
        </select>
      </div>
    </div>
  </div>
</div>
<hr />
<div>
  <h5>توضیحات</h5>
  <textarea name="" id="" class="form-control description" rows="2"></textarea>
  <button class="mt-1 btn btn-info">ایجاد توضیح</button>
</div>
<div class="mt-5">
  <div class="{{ chatStyleNumber[4]}} desText shadow-sm p-2 mb-3 rounded">
    <div class="card-body">
      <img
        src="../../assets/img/avatar.png"
        width="50px"
        heigth="50px"
        alt=""
      />
      این تست توضیحات است
    </div>
  </div>
  <div class="{{ chatStyleNumber[1]}} desText shadow-sm p-2 mb-3 rounded ">
    <div class="card-body">
      <img
        src="../../assets/img/avatar.png"
        width="50px"
        heigth="50px"
        alt=""
      />
      این تست توضیحات است
    </div>
  </div>
  <div class="{{ chatStyleNumber[2]}} desText shadow-sm p-2 mb-3 rounded">
    <div class="card-body">
      <img
        src="../../assets/img/avatar.png"
        width="50px"
        heigth="50px"
        alt=""
      />
      این تست توضیحات است
    </div>
  </div>
</div>
