<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">YADDASHT</a>
  <ul class="navbar-nav mr-auto normal-device">
    <li *ngIf="!authService.loggedIn()" class="nav-item">
      <a routerLink="/login" class="nav-link">ورود</a>
    </li>
    <li *ngIf="authService.loggedIn()" class="nav-item" (click)="authService.logoutUser()">
      <a class="nav-link">خروج</a>
    </li>
    <li *ngIf="!authService.loggedIn()" class="nav-item">
      <a routerLink="/registeration" class="nav-link">ثبت نام</a>
    </li>
  </ul>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarMenu" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <!-- small devices navbar-->
      <li class="nav-item small-device">
        <a href="#" router-link="home" class="nav-link">خانه</a>
      </li>
      <li class="navbar-item small-device">
        <a href="#" class="nav-link">تماس با ما</a>
      </li>
      <li class="navbar-item small-device">
          <a href="#" class="nav-link">درباره ما</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="navbar-item small-device">
        <a routerLink="/login" class="nav-link">ورود</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="navbar-item small-device">
        <a routerLink="/registeration" class="nav-link">ثبت نام</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="navbar-item small-device" (click)="authService.logoutUser()">
        <a class="nav-link">خروج</a>
      </li>
      <!---->

      <!-- normal devices navbar -->
      <li class="navbar-item normal-device">
          <a href="#" class="nav-link">درباره ما</a>
      </li>
      <li class="navbar-item normal-device">
          <a class="nav-link">تماس با ما</a>
      </li>
      <li class="navbar-item normal-device" (click)="showSidebar()">
        <a routerLink="/workbook" class="nav-link">کارتابل</a>
      </li>
      <li class="nav-item normal-device">
          <a routerLink="/home" class="nav-link normal-device">خانه</a>
      </li>
      <!---->
    </ul>
  </div>
</nav>
<div class="container-fluid main-content">
  <div class="row">
    <!-- SIDE BAR-->
    <div [class.d-none]="!displaySidebar" class="col-md-2">
      <div class="sidebar">
        <div class="profile-info">
          <img id="avatar" src="{{userPhoto}}" alt="avatar">
          <div><a routerLink="/profile"><b>محمدرضا فولادی</b></a></div>
          <div>سمت: کارشناس ارشد تولید</div>
        </div>
        <div class="list-group sidebar-link">
          <a routerLink="/profile" routerLinkActive="active"  class="list-group-item list-group-item-action list-group-item-info">کارتابل</a>
          <a routerLink="/report" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-secondary">گزارشات</a>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- MAIN CONTENT-->
    <div class="col-md-10">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
    <!--  -->
  </div>
</div>

