<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">YADDASHT</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarMenu" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <!-- small devices navbar-->
      <li class="nav-item smallDevice">
        <a href="#" class="nav-link small-device">خانه</a>
      </li>
      <li class="navbar-item">
        <a href="#" class="nav-link small-device">تماس با ما</a>
      </li>
      <li class="navbar-item">
          <a href="#" class="nav-link small-device">درباره ما</a>
      </li>
      <!---->

      <!-- normal devices navbar -->
      <li class="navbar-item">
          <a href="#" class="nav-link normal-device">درباره ما</a>
      </li>
      <li class="navbar-item">
          <a href="#" class="nav-link normal-device">تماس با ما</a>
      </li>
      <li class="nav-item smallDevice">
          <a href="#" class="nav-link normal-device">خانه</a>
      </li>
      <!---->
    </ul>
  </div>
</nav>
<div class="container-fluid main-content">
  <div class="row">
    <div class="col-md-2">
      <div class="sidebar">
        <div class="profile-info">
          <img id="avatar" src="../assets/img/avatar.png" alt="avatar">
          <div><b>محمدرضا فولادی</b></div>
          <div>سمت: کارشناس ارشد تولید</div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div>
        main container
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

