.navbar-nav{
  float:right;
  text-align: right;
}
.small-device{
  display: none;
}
.main-content{
  direction: rtl;
  text-align: right;
  height: 100%;
  margin-top:2%;
}
.sidebar{
  -webkit-box-shadow: -9px 1px 5px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 1px 5px -8px rgba(0,0,0,0.75);
  box-shadow: -9px 1px 5px -8px rgba(0,0,0,0.75);
  height: 100%;
}
.sidebar-link{
  margin-top: 20%;
}
.profile-info{
  text-align: center;
}
#avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.active{
  color:#fff;
}

@media only screen and (max-width: 768px){
  .normal-device{
    display: none;
  }
  .small-device{
    display: block;
  }
  .sidebar{
    display: none
  }
}
