<!-- Modal -->
<div
  class="modal fade"
  id="create-task-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create-task-label"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-task-label">ایجاد وظیفه</h5>
        <button
          type="button"
          class="ml-0 close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="onSubmit()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="عنوان" />
        </div>
        <div class="form-group">
          <textarea
            name=""
            id=""
            class="mt-1 form-control"
            rows="3"
            placeholder="توضیحات"
          ></textarea>
        </div>
        <div class="form-group">
          <span>ارجاع:</span>
          <select name="" id="" class="mt-1 form-control">
            <option value="محمد">محمد</option>
            <option value="کیا">کیا</option>
          </select>
        </div>
        <div class="form-group">
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-dismiss="modal"
          >
            بستن
          </button>
          <button type="submit" class="btn btn-outline-primary">ذخیره</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<!---->
