
<div class="main">
  <div class="row text-center">
    <div class="col-md-4 col-sm-12">
      <p class="text-center"><img src="../../assets/img/business-idea.jpg" class="img-rounded" width="304" height="236"></p>
      <p>مدیریت منظم کارها میتواند باعث بوجود آمدن ایده های نو و خلاقانه در انجام آنها شود</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <p class="text-center"><img src="../../assets/img/multitasking.jpg" class="img-rounded" width="304" height="236"></p>
      <p>با نظم بخشیدن به کارها و نگه داری و ثبت آنها میتوانیم چندین کار را به صورت هم زمان و بدون اینکه نگران فراموش کردن و یا از دست رفت اطلاعاتشان باشیم، انجام دهیم</p>
    </div>
    <div class="col-md-4 col-sm-12">
      <p class="text-center"><img src="../../assets/img/stress.jpg" class="img-rounded" width="304" height="236"></p>
      <p>آیا برای جمع بندی کارها و وظایف خود نیاز به ابزاری داریم تا بتوانیم آنها را در یک جا به صورت مدیریت شده نگه داری کنیم!؟</p>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="display-3">یادداشت</h1>
    <hr class="my-2">
    <div id="home-description" class="text-center">
      <p>در این وب افزار سعی شده است، ابزاری برای جمع بندی، ثبت کارها, فعالیتها و به اشتراک گذاشتن آنها با هم تیمی ها فراهم شود</p>
      <p>با <a routerLink="/users/registeration">ثبت نام</a> در یادداشت میتوانید تیم خود را تشکیل داده و با ارتباط موثر در جهت رشد و ارتقا کارهای خود گام بردارید</p>
      <p>برای اینکه با نحوه عملکرد این وب ابزار آشنا شوید و چگونگی آن را دریابید به قسمت <a href="#">راهنما</a> مراجعه نمایید.</p>
    </div>
  </div>
</div>

